pricing-area{

	margin-top: 25px;
}
.single-pricing {
	position: relative;
	text-align: center;
	background-color:#262626;
	color: #fff;
	margin: 0 20px;
	padding:30px ;
	border-radius: 3px ;
}

.head-text{
	background-color: transparent;
	border-bottom: 0;
	padding: 15px 0;
	border-radius: 3px 3px 0 0;
}
.head-text h3 {
	font-family: poppins;
	margin: 0;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fafafa;

}
.price-area .price-area span{
	font-weight: 600;
}
.price-area{
	position: relative;
	padding: 10px 0;
	color: #fff;
	font-weight: 300;
	font-size: 64px;
	line-height: 1;
}
.price-area span.duration {
	display: block;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	
	text-align: center;
	color: #888;
	letter-spacing: 1px;
	vertical-align: baseline;
	color: #999;
	margin: 20px 0 3px;
}
.price-area:after, .feature-area{
	border:0;
	font-family: poppins;
}
.feature-area ul{
	margin:0;
	padding: 15px 0;
	list-style: none;

}
.feature-area li{
	padding: 6px 0;
	font-size: 14px;
}
@media (max-width: 767px){
	h3 {
		font-size: 20px;
	}
	.single-pricing {
		margin-bottom: 30px;
	}
}